main{
    background-color:#E9ECEF;

    display: flex;
    flex-flow: column nowrap;
}

main section{
    padding-top: 30px;
    padding-left:  50px;
    padding-right: 50px;
}

main section:last-child{
    padding-bottom: 30px;
}

main section h2{
    padding-bottom: 15px;
}

main section p{
    padding: 5px 0px;
}

#catalogo{
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

#catalogo .juego{
    height: 250px;
    border: 6px solid #000000;
    border-radius: 15px;

    display: flex;
    flex-flow: column nowrap;
}

#catalogo .juego .nombre{
    flex: 1 1 25%;
    background-color: #E9ECEF;
    padding: 0px 15px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#catalogo .juego .imagen{
    flex: 1 1 75%;
    background-color: darkslategrey;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#barra{
    margin-top: 30px;
    height: 50px;

    display: flex;
    flex-flow: row nowrap;
}

#barra > div{
    flex: 1 1 auto;
    min-width: 80px;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#barra #nav div{
    flex: 1 1 auto;

    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 992px){

#catalogo{
    grid-template-columns: repeat(2, 1fr);
}

}

@media only screen and (max-width: 600px){

#catalogo{
    grid-template-columns: repeat(1, 1fr);
}

#barra{
    min-width: 220px;
    height: 90px;

    flex-flow: row wrap;
}

#barra #nav{
    order: -1;
    flex: 1 1 100%;
}

}