h4{
    color: red;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;.
}

main{
    background-color:#E9ECEF;
    display: flex;

    flex-flow: column nowrap;
}

main section{
    padding-top: 30px;
    padding-left:  50px;
    padding-right: 50px;
    flex: 1 1 50%;
}

main section:last-child{
    padding-bottom: 30px;
}

main section h2{
    padding-bottom: 15px;
}

main section p{
    padding: 5px 0px;
}

#formulario div{
    padding-bottom: 15px;
}

form{
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
}

input, textarea{
    border: 2.5px solid #000000;
    border-radius: 10px;
    width: 100%;
    height: 30px;
    padding-left: 10px;
}

#divTextarea, #divBoton{
    grid-column-end: span 2;
}

textarea{
    padding-top: 5px;
    min-height: 80px;
    max-height: 200px;
    min-width: 100%;
    max-width: 100%;
}

#divBoton{
    display: flex;
    justify-content: center;
}

#Boton{
    background-color: #000000;
    color: #E9ECEF;
    width: 40% !important;
    padding-left: 0px !important;
}

#Boton:hover{
    cursor: pointer;
}

#Boton:active{
    background-color: #E9ECEF;
    color: #000000;
}

@media only screen and (max-width: 600px){

h4{
    font-size: 15px;
}


form .input{
    grid-column-end: span 2;
}

textarea{
    min-height: 150px;
}

}

@media only screen and (max-width: 440px){

#headerAbajo{
    color: #ffffff !important;
}

}
