#headerArriba{
    background-color:#E9ECEF;
    height: 70px;
    padding: 5px 10px;

    display: flex;
}

#Isotipo, #Navegacion{
    flex: 1 1 auto;

    display: flex;
    align-items: center;
}

#Isotipo{
    padding-left: 25px;
}

#Navegacion ul{
    flex: 1 1 auto;
    list-style-type: none;

    display: flex;
}

#Navegacion li{
    flex: 1 1 auto;

    display: flex;
    justify-content: center;
}

#headerAbajo{
    height: 500px;
    padding: 25px 40px;
    background-color: green;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-end;
}